html{
    margin: 0 auto;
    box-sizing: border-box;
    overflow-x: hidden;
    width: 100%;
}
*, *::before, *::after{
    box-sizing: inherit;
}

.first_page{
    width: 100%;
    height: 100vh;
    background: url("img/backgroundimg.png") no-repeat center;
    background-color: #302e60;
    background-size: cover;
    -webkit-background-size: cover;
}

body{
    font-family: 'Roboto', sans-serif;
    width: 100%;
    height: 100vh;
}

/* header */

.header{
    width: 100%;
    position: absolute;
}

.wrapper{
    width: 100%;
    max-width: 1050px;
    margin: 0 auto;
}

.header_wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.header_logo{
    width: 108px;
    height: 108px;
}

.instruction{
    padding-top: 24px;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    font-style: normal;
}

.nav_link{
    text-decoration: none;
    color: #ebe0e1;
}

.rectangle{
    color: #ebe0e1;
    background: #302e60;
    margin-top: 16px;
    width: 120px;
    height: 40px;
    background:
            linear-gradient(#302e60, #302e60) padding-box,
            linear-gradient(to right, #FF527F, #FD9590) border-box;
    border-radius: 100px;
    border: 2px solid transparent;
}

.intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

.container{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
}

.intro_title{
    font-weight: 500;
    margin: 0;
    font-size: 45px;
    color: #000;
    text-align: center;
    line-height: 52px;
    background-image: linear-gradient(90deg, #FF527F, #FD9590);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.intro_description{
    margin: 16px 0 0;
    line-height: 36px;
    max-width: 600px;
    font-size: 28px;
    color: #BEBDF8;
    text-align: center;
    font-weight: 400;
}

.enter_button{
    margin: 64px 0 0;
    width: 170px;
    height: 50px;
    font-size: 16px;
    color: #ebe0e1;
    line-height: 24px;
    border-radius: 100px;
    border: 0px solid;
    background: linear-gradient(#FF527F, #FD9590);
}

/* Section main */

.services{
    width: 100%;
    padding-top: 128px;
    background: #302e60;
}

.section_header{
    width: 100%;
    max-width: 610px;
    padding-bottom: 150px;
}

.section_title{
    margin: 0;
    font-style: normal;
    font-weight: 500;
    font-size: 45px;
    color: #dad9ff;
    line-height: 52px;
}

.title_gradient{
    color: #000000;
    background-image: linear-gradient(90deg, #FF527F, #FD9590);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.section_subtitle{
    margin: 16px 0 0;
    font-size: 28px;
    line-height: 36px;
    font-weight: 400;
    font-style: normal;
    color: #BEBDF8;
}

.container1{
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.services_container{
    display: grid;
    margin: 0 auto;
    width: 100%;
    max-width: 1140px;
    grid-template-columns: repeat(7, 5fr);
    grid-template-rows: repeat(7, 6.2vw);
    grid-gap: 50px;
}

/* footer */

.footer{
    padding-top: 72px;
    background: #302e60;
}

.footer1{
    position: relative;
    display: flex;
    align-content: flex-end;
    background: #2E2C58;
}

.footer_container{
    display: grid;
    margin: 0 auto;
    width: 100%;
    max-width: 1128px;
    grid-template-columns: [start] 256px [line2] 120px [line3] 476px [line4] 268px [end];
    grid-template-rows: 320px;
    grid-template-areas: "footer_logo . inner_container .";
    align-items: center;
}

.footer_logo{
    grid-area: footer_logo;
    margin-top: 14px;
}

.main_inner_container{
    grid-area: inner_container;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 662px;
}

.inner_container1{
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    max-width: 222px;
    height: 180px;
}

.inner_container1_title{
    width: 80px;
    height: 25px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: #FFFFFF;
}

.container_nav{
    width: 222px;
    height: 20px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.25px;
    color: #807EB7;
    text-decoration: none;
}

.inner_container2{
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 158px;
    height: 120px;
    flex-direction: column;
}

.inner_container2_title{
    width: 158px;
    height: 25px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: #FFFFFF;
}

.container2_nav{
    width: 222px;
    height: 20px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.25px;
    color: #807EB7;
    text-decoration: none;
}
